*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #e100ff;
}
body .container {
    width: 45rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
}

body .container h1 {
    font-size: 1.7rem;
    margin: 10px;
}

body .container input {
    width: 90%;
    height: 2.3rem;
    border: 2px solid #000;
    padding: 5px 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

body .container .btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 0.4rem;
    font-weight: 500;
    box-shadow: 2px 2px 4px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
}

body .container .error {
    padding: 0.4rem 0;
    width: 70%;
    text-align: center;
    display: none;
    color: #fff;
    background-color: #000;   
}

body .container h3 {
    margin-top: 0.4rem;
    font-size: 1.3rem;
}

body .container .message {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    margin-top: -5px;
}

